In [0]:
SELECT COUNT(*) AS NumberOfTaxis
FROM nyc_taxi
WHERE fare_amount > 10;